In [1]:
2+2

4

In [2]:
6+9

15

In [3]:
89*9

801

lkjhgfds

### level 01
  -variables
   -input 
   -output
   -operators
   -datatypes

### level 2
-conditional statements
   -if
    -ifelse
    -elif
    -match
-loops
   -for
   -while
   -functions

### level 3
   -string
   -dict
   -list

age=10
is_married=false
name="bob"
value=1.323

In [7]:
age=10
is_married=False
name="bob"
value=1.323
a=10**5000
print(a)

ValueError: Exceeds the limit (4300) for integer string conversion; use sys.set_int_max_str_digits() to increase the limit

In [8]:
x=1.10
y=1.0
i=-35.59
z=87.7e100

String datatype

In [9]:
name="dfgyuiuytfd"
color="yellow"
institute="dfghj"

In [ ]:
#IMPORTANT NOTES---1.boolean value represents one of two values:True or False
  #  Because they are like switches
  #Nonetype-- when u dont want to store something but want to create a variable

x=none

In [12]:
x=None
#LIST
# it is a ordered seqence of items
a=[2,3,4,6,889,"sdfghjk",78.90]

#TUPLE is immutable(unchangeble)
#set -unordered collection of uniqe items
a={2,,56,,3444.5,"oiuy"}

In [13]:
#TUPLE is immutable(unchangeble)
#set -unordered collection of uniqe items
a={2,56,3444.5,"oiuy"}

In [14]:
#DICTIONARY
car={9:8,"brand":"ford","year":2023}

In [15]:
#operators
y=90
g=87

print(y+g)
print(y*g)
print(y-g)
print(y**g)
print(y%g)
print(y//g)
print(y/g)

177
7830
3
104495676331778315966103878903450701989608781073244439950619431748912396904023371769000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
3
1
1.0344827586206897

### Operator precedence
 1.bracets
 2.*/ // ** (esme jo phlt ayega vo hi chlega)
 3.

In [16]:
2**3+5/3

9.666666666666666

In [17]:
(3+2)*(5*3)/(3*5)

5.0

In [22]:
#Assiment operater
a=100
a+=15
# answer of a is 115
a-=10
a*=10
a%=5
print(a)

0

comparison operator

In [24]:
x=67
y=90
print(x>y)
print(x<y)
print("hello"=="hellow")
print("hi"!="hi")
print("this"=="that")
print(x==100)
print(x!=45)
print(x>=89)
print(y<=20)

TypeError: '>' not supported between instances of 'NoneType' and 'int'

In [1]:
a=90
b=99
a>9 and a>b

False

In [2]:
not a

False

In [ ]:
bool(0)# True

any value other than 0 is true

empty string is taken as False

In [1]:
name=input("Enter name:")
bool(name)

False

In [3]:
x=[7,89,78,9,8]
10 in x 
9 in x

True

In [ ]:
#user input,input(prompt)
#type casting ->convert one datatype to other

In [6]:
str(987654)# it is uded to convert a value into string

'987654'

In [4]:
int(False)

0

In [7]:
name=input("Enter ur name")
phone=input("Enter your contact")
age=input("Enter ur age")

### Wap to calculate area and circumference of circle using diameter as input

In [12]:
#pi*r**2
pi=float(3.14)
r=int(input("Enter the value"))
area=pi*r**2
print(area)

19103.760000000002

In [13]:
p=int(input("Principal amt"))
r=int(input("rate of interest"))
t=int(input("Time in years"))
si=p*r*t
print(f"principal{p}")
print(f"show si{si}")

principal987
show si710640

In [15]:
y=input("Enter ur name")
x=int(input("How many badges"))
print(f"{y} have {x} badges")

poojs have9 badges

In [2]:
list=["watsapp","utub","call","msg","google","game"]
len(list)

6

In [4]:
username=input("Enter your name")
email=input("Enter your email")
pwd=input("enter your password")
pwd2=input("confirm your password")
if len(username)>=4 and len(username)<=15:
    if'@' in email and email.islower()and len(email)>10:
        if len(pwd)>6 and pwd!=username:
            if pwd==pwd2:
               print("hurraay 😁")
            else:
               print("password do not match 😞")
        else:
            print("pssword is invalid😤")
else:
    print("username is invalid 🤷‍♀️")

hurraay 😁

In [10]:
int("hasattrello")# it returns false

ValueError: invalid literal for int() with base 10: 'hasattrello'

In [5]:
name=input("Enter your name")
max_mark=int(input("enter the mark"))
if max_mark>90:
    print("u r outstanding")
elif max_mark>75:
    print("u r intelligent")
elif max_mark>60:
    print("u r a good performer")
else:
    print("poor")

u r intelligent

In [7]:
h=int(input("enter a number"))
if h%2==0:
    print("given number is even",+h)
else:
    print("given number is odd",+h)

given number is even 78

In [ ]:
a=int(input("Enter a number"))

prime number

In [3]:
name="poiuytrfjkjuuUIOAiou"
for i in name:
    if i not in 'aeiouAEIOU':
        print(i)

p
y
t
r
f
j
k
j

membership operator in ,not in (This is use in searching)

In [8]:
color=["red","green","blue","black"]
for d in color:
    print(f'{d} has {len(d)} cahrs')
    if len(d)%2==0:
         print(f'{d}is even ')
    else:
         print(f'{d} is odd')

red has 3 cahrs
red is odd
green has 5 cahrs
green is odd
blue has 4 cahrs
blueis even
black has 5 cahrs
black is odd

In [2]:
x=[1,2,3,4,5,6]
y=[4,5,67,8,9,2]
for i,j in zip(x,y):
    print(f'({i}+{j})**2={(i+j)**2}')

(1+4)**2=25
(2+5)**2=49
(3+67)**2=4900
(4+8)**2=144
(5+9)**2=196
(6+2)**2=64

In [3]:
a=[1,3,4,0,0,7,8,6,5,0,9,7,0]
for i in a:
    if i==0: continue
    print(i)

1
3
4
7
8
6
5
9
7

In [8]:
names=["sam","prince","sara","","alex","jill"]
for i in names:
    
    if len(i)==0:
        print("Error👽:Empty name found")
        break
    print(i)

sam
prince
sara
Error👽:Empty name found